
__pycache__ 
*.pyc
__pycache__ 
*.pyc
*.pyo

.venv 

.env
.token_cache.json
database
logs/
storage/postgres/database/  

# Obsidian workspace
.obsidian/workspace.json
obsidian/.obsidian/workspace.json